@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?5c08148605db3ea4340f5a1a56fd703b") format("truetype"),
url("./flaticon.woff?5c08148605db3ea4340f5a1a56fd703b") format("woff"),
url("./flaticon.woff2?5c08148605db3ea4340f5a1a56fd703b") format("woff2"),
url("./flaticon.eot?5c08148605db3ea4340f5a1a56fd703b#iefix") format("embedded-opentype"),
url("./flaticon.svg?5c08148605db3ea4340f5a1a56fd703b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-blood-donation:before {
    content: "\f101";
}
.flaticon-kidneys:before {
    content: "\f102";
}
.flaticon-molar-tooth:before {
    content: "\f103";
}
.flaticon-brain:before {
    content: "\f104";
}
.flaticon-cardiology:before {
    content: "\f105";
}
.flaticon-check:before {
    content: "\f106";
}
